<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMhoperator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BC5FDBC203E88D200A0FC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC5FDD3203E88D200A0FC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BC5FDDE203E88D200A0FC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
